:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  /* place-items: center; */
}

#root {
  margin: 0 auto;
  width: 100%;
  /* padding: 2rem; */
  /* text-align: center; */
}

a:link {
  color: inherit;
  text-decoration: none;
  width: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
